.WeatherApp .search-bar {
  width: 90%;
  margin: 20px;
  padding-top: 10px;
  border: none;
}

.WeatherApp .btn {
  background-color: white !important;
  color: #634cff !important;
  border: none;
  transition: all 2ms ease-in-out;
}

.WeatherApp .current-btn,
.search-btn {
  margin-left: 10px !important;
}

.WeatherApp .btn:hover {
  background: #634cff !important;
  color: white !important;
  border: white !important;
}

.WeatherApp .current-location {
  font-size: 8px;
}

.WeatherApp h1 {
  display: block;
  text-align: center;
  padding-top: 10px;
  font-size: 30px !important;
  color: white;
}

.WeatherApp .Location {
  text-align: center;
  color: white;
}

.WeatherApp h2 {
  display: inline-block;
  font-size: 20px !important;
  text-align: center;
}

.WeatherApp i {
  font-size: 18px;
}

.WeatherApp h3 {
  display: block;
  text-align: center;
  font-size: 18px !important;
  color: white;
}

.WeatherApp img {
  display: block;
  margin: 0 auto;
  width: 100px;
}

.WeatherApp .description {
  margin: 10px 0 20px 0;
  text-align: center;
  color: white;
  text-transform: capitalize;
}

.WeatherApp {
  color: white;
}

.WeatherApp h4 {
  display: inline-block;
  font-size: 60px !important;
  padding-left: 28px;
}

.WeatherApp .current-temps p {
  text-align: center;
  font-size: 25px;
  padding-left: 10px;
}

.WeatherApp .max-temp {
  position: relative;
  right: 15px;
}

.WeatherApp hr {
  color: #1b115f !important;
  height: 2px !important;
  width: 80%;
}

.WeatherApp .details-info p {
  margin: 0;
}

.WeatherApp h5 {
  font-size: 20px;
}

.WeatherApp .Details {
  padding-left: 10px;
}
